@* 
    Özet (Summary):
    Bu Razor view, model olarak gelen sipariş listesini (IEnumerable<Order>) ekrana yansıtır.

    - Eğer modelde bir veya daha fazla sipariş varsa, her sipariş için _OrderDetails adlı partial view çağrılır.
    - Eğer hiç sipariş yoksa, kullanıcıya bilgi mesajı (alert-info) gösterilir.

    Notlar:
    - Model null değildir ve IEnumerable<Order> tipindedir.
    - '_OrderDetails' partial view'i, tek bir Order nesnesinin detaylarını gösterecek şekilde yapılandırılmış olmalıdır.
*@
@model IEnumerable<Order>

@if (Model.Count() > 0)
{
    @foreach (Order order in Model)
    {
        <div class="my-3">
            <partial name="_OrderDetails" model="@order" />
        </div>
    }
}
else
{
    <div class="alert alert-info">
        <p class="lead">There is no order yet.</p>
    </div>
}
